# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Hello-Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Build for Linux (amd64)
      run:  GOOS=linux GOARCH=amd64 go build -o hello-linux-amd64 main.go
         
    - name: Build for macOS (amd64)
      run:  CGO_ENABLED=0 GOOS=darwin  GOARCH=amd64  go build -o hello-darwin-amd64 main.go
      
    - name: Build for Windows(amd64)
      run: CGO_ENABLED=0 GOOS=windows  GOARCH=amd64  go build -o hello-windows-amd64.exe main.go
    - name: Build for Linux (ARM)
      run: CGO_ENABLED=0 GOOS=linux  GOARCH=arm  go build -o hello-linux-arm main.go
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
          GITHUB_TOKEN: ${{  secrets.GITHUB_TOKEN  }}
      with:
          tag_name: Tag_${{github.sha}}
          release_name: Release_${{github.sha}}
          body: Hello New Release
          draft: false
          prerelease: false

    - name: Upload Linux-amd64 Asset
      uses: actions/upload-release-asset@v1
      env:
          GITHUB_TOKEN: ${{secrets.TOKEN}}
          asset_path: ./hello-linux-amd64
          asset_name: hello-linux-amd64
          asset_content_type: application/octet-stream

    - name: Upload Window-amd64 Asset
      uses: actions/upload-release-asset@v1
      env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          asset_path: ./hello-windows-amd64.exe
          asset_name: hello-windows-amd64.exe
          asset_content_type: application/octet-stream

    - name: Upload Drawin-amd64 Asset
      uses: actions/upload-release-asset@v1
      env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          asset_path: ./hello-darwin-amd64
          asset_name: hello-darwin-amd64
          asset_content_type: application/octet-stream

    - name: Upload Linux-arm Asset
      uses: actions/upload-release-asset@v1
      env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          asset_path: ./hello-linux-arm
          asset_name: hello-linux-arm
          asset_content_type: application/octet-stream
  